body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a; 
  color: #ffffff; 
}

.app {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #00BFFF; 
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 15px;
}

label {
  font-size: 14px;
  color: #ffffff; 
}

input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #00BFFF;
  background-color: #333333; 
  color: #ffffff;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border: 1px solid #ffffff;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.leaflet-container {
  height: 65vh;   
  width: 130vh;  
  background: black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.leaflet-container.dark-mode {
  background-color: #000000;
  /* color: #ffffff; */
}

.chart-container {
  height: 60vh;
  width: 100%;
  background-color: #2b2b2b; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.chart-container h2 {
  color: #00BFFF;
}

button {
  background-color: #00BFFF;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px 0;
}

button:hover {
  background-color: #007ACC;
}

.popup-card {
  background-color: #1a1a1a;
  color: #ffffff; 
  padding: 10px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  max-width: 250px; 
}

.popup-card h3 {
  margin: 0 0 10px 0; 
  font-size: 16px; 
  color: #00BFFF; 
}

.popup-card p {
  margin: 5px 0; 
  font-size: 14px;
  line-height: 1.5; 
}

.popup-card strong {
  color: #00BFFF; 
}

.scrollable-popup {
  max-height: 300px;   
  overflow-y: auto;   
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #000000;
}
